.mortgagedProperty {
  padding-top: 20px;
  padding-bottom: 50px;
  .title {
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    margin-top: 20px;
  }
  .mortgagedProperty__category {
    margin-top: 50px;
    position: relative;
    .file__name {
      max-width: 90%;
      font-size: 16px;
      overflow: hidden;
      color: #42b4f4;
      margin-top: 0px;
      margin-left: 10px;
    }
    .mortgagedProperty__title {
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      @media (max-width: 555px) {
        font-size: 20px;
      }
    }
    input {
      margin-top: 10px;
      padding: 4px 10px;
    }
    .mortgagedProperty__input {
      width: 482px;
      height: 60px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      margin-top: 30px;
      padding: 4px 10px;

      &.mortgagedProperty__input__short {
        height: 47px;
      }
      @media (max-width: 555px) {
        width: 95%;
      }
    }
  }
  .mortgagedProperty__additionalFiles {
    margin-top: 10px !important;
  }
  .mortgagedProperty__addFiles {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    color: #42b4f4;
    cursor: pointer;
    span{
      margin-left: 10px;
    }
    &:hover {
      color: #68c9ff;
      transition: all 0.5s ease;
    }
  }
}
